/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color:           #E57373 !default; // A softer red
$red-color-dark:      #C62828 !default;
$orange-color:        #FFB74D !default; // A softer orange
$blue-color:          #64B5F6 !default; // A softer blue
$blue-color-dark:     #1565C0 !default;
$cyan-color:          #4DD0E1 !default; // A softer cyan
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #81C784 !default; // A softer green
$green-color-lime:    #DCE775 !default;
$green-color-dark:    #388E3C !default;
$green-color-light:   #E8F5E9 !default;
$green-color-bright:  #A5D6A7 !default;
$purple-color:        #BA68C8 !default; // A softer purple
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #F06292 !default; // A softer pink
$pink-color-light:    #F8BBD0 !default;
$yellow-color:        #FFF176 !default; // A softer yellow

$grey-color:          #666666 !default; // Medium Grey for secondary text
$grey-color-light:    #E0E0E0 !default; // Light Grey for dividers
$grey-color-dark:     #333333 !default; // Dark Grey for primary text
$grey-900:            #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;


// Theme colors

$code-bg-color-light:     #F5F5F5; // Light grey for light mode code background
$code-bg-color-dark:      #2D2D2D !default; // Dark blue-grey for dark mode code background
